@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #2c3e50;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #42b983;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
